* {
    box-sizing: border-box;
}

body {
    background-color: #edf1f8;
    font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
    position: absolute;
    width: 550px;
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
    left: 0%;
    top: 0%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f7f7f9;
    overflow: hidden;
}

#kg_window {
    position: absolute;
    margin-left: 550px;
    width:100%
    height:800px
    border-radius: 0px;
    left: 0%;
    top: 0%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f7f7f9;
    overflow: hidden;
}

.top_menu {
    background-color: #02246d;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
    text-align: center;
    color: white;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0px 10px;
    margin: 0;
    height: 80%;
    overflow: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    background-color: #c7cfd9;
    float: left;
    margin-left: 80px;
}

.messages .message.left .text_wrapper {
    background-color: #c7cfd9;
    margin-left: 20px;
    width:auto;
    max-width : 750px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #c7cfd9;
}

.messages .message.left .text {
    color: black;
}

.messages .message.left_end .avatar {
    background-color: #f2dede;
    float: left;
}

.messages .message.left_end .text_wrapper {
    background-color: #f2dede;
    margin-left: 20px;
}

.messages .message.left_end .text_wrapper::after, .messages .message.left_end .text_wrapper::before {
    right: 100%;
    border-right-color: #f2dede;
}

.messages .message.left_end .text {
    color: black;
}

.messages .message.right .avatar {
    background-color: #eeeeee;
    float: right;
    margin-right: 80px;
}

.messages .message.right .text_wrapper {
    background-color: #eeeeee;
    margin-right: 20px;
    float: right;
    width: auto;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #eeeeee;
}

.messages .message.right .text {
    color: black;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.bottom_wrapper {
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #fff;
    padding: 20px 20px;
    /*position: absolute;*/
    bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #02246d;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.bottom_wrapper .send_message:hover {
    background-color: #204d74;
}

.avatar .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
    margin-left: 20%;
    margin-top: 10%;
}
.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.top_menu a:hover {
    color: white;
}

.top_menu a {
    color: #d5dbdb;
    margin-left: 2%;
    font-size: 15px;
}
